.carrusel {
    height: 660px;
    position: relative;
}

.tarjeta {
    display: inline-block;
    position: absolute;
    width: 400px;
    height: 650px;
    top: 0;
    border-radius: 20px;
    overflow: hidden;
}

.tarjeta:first-of-type {
    background-image: url(../../assets/bosque.jpg);
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: -100px 0;
    left: 0;
}

.tarjeta:nth-child(2) {
    background-image: url(../../assets/amazonas.jpg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: -180px 0;
    left: 50%;
    transform: translateX(-50%);
}

.tarjeta:last-of-type {
    background-image: url(../../assets/playa.jpg);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: -50px -300px;
    right: 0;
}

.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: rgb(13,110,148);
background: linear-gradient(180deg, rgba(13,110,148,0) 0%, rgba(255,255,255,1) 23%);
}

.info p, .info button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.info p {
    top: 80px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
}

.info button {
    top: 130px;
    border: 0;
    outline: 0;
    padding: 10px 35px;
    margin: 0 auto;
    color: var(--blanco);
    background-color: var(--rojo);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color .3s;
}

.info button:hover {
    background-color: #a3122f;
}

.controlador {
    position: relative;
    margin-bottom: 40px;
}

.controlador img {
    position: absolute;
    top: 10px;
    right: 0;
    width: 17px;
    cursor: pointer;
}

.controlador img:first-of-type {
    right: 30px;
}