.inicio {
    height: 100vh;
    position: relative;
}

.inicio .textoInicio {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.inicio .guacamaya {
    width: 600px;
    position: absolute;
    top: 200px;
    right: 0px;
}

.textoInicio img {
    width: 15px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.textoInicio p {
    color: var(--blanco);
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
}

.textoInicio p:first-of-type {    
    margin-bottom: 100px;
}

.textoInicio p:last-of-type {
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 2rem;
}

.textoInicio p span {
    color: #DDBF0E;
}