header {
    width: 100%;
    padding: 10px 20px 0 20px;
    position: fixed;
    z-index: 100000;
    background-color: var(--celeste);
}

.logo {
    display: inline-block;

    width: 120px;
    height: 80px;
    background: url(../../assets/isologolaxo.svg) no-repeat;
    background-size: contain;
    overflow: hidden;
}

.logo a {
    width: inherit;
    height: inherit;
    text-indent: -100px;
}

.navHeader {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    margin-right: 10px;
    font-weight: 600;
}

.navHeader ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.navHeader ul li:last-of-type {
    margin-right: 0;
}

.navHeader ul li a {
    text-decoration: none;
    color: var(--azul-mar);
    transition: color .3s;
}

.navHeader ul li a:hover {
    color: var(--naranja);
}